In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://traveltriangle.com/tour-packages/manali?destination_type=manali'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"}

response = requests.get(url,headers = headers)
html_code = response.text 
soup = BeautifulSoup(html_code)
soup.text[:2000]

'40+ Manali Tour Packages â\x80\x93 Starts @ â\x82¹5999, Upto 30% Off1800-123-5555Travel Agent? Join UsBlogOffersDownload AppGet Travel Triangle in your pocket.Get your app via smsGet AppLoginHoneymoon PackagesFamily PackagesHoliday PackagesHoliday DealsLuxury HolidaysHotelsDestination GuidesHoliday ThemesPlan My HolidayIndian DestinationsKashmirHimachalGoaRajasthanKeralaAndamanSikkimUttarakhandView AllInternational DestinationsBaliSri LankaMaldivesVietnamMauritiusEuropeDubaiThailandSingaporeTurkeyBhutanSeychellesView AllIndian DestinationsKeralaHimachalRajasthanGoaKashmirAndamanSikkimGujaratView AllInternational DestinationsDubaiSingaporeEuropeBhutanMauritiusVietnamSri LankaBaliThailandTurkeyMaldivesAustraliaView AllIndian DestinationsKeralaAndamanHimachalSikkimKashmirRajasthanGoaUttarakhandView AllInternational DestinationsBaliMaldivesSri LankaEuropeMalaysiaTurkeyThailandMauritiusDubaiSingaporeSwitzerlandSeychellesView AllIndian DestinationsKeralaHimachalAndamanKashmirInternational DestinationsDubaiSeychellesSingaporeBhutanThailandBaliMauritiusSri LankaMaldivesIndian DestinationsKashmirHimachalUttarakhandKeralaSikkim - Gangtok - DarjeelingAndamanGoaRajasthanLadakhView AllInternational DestinationsCambodiaThailandBaliSingaporeMalaysiaMauritiusMaldivesAustraliaSeychellesItalyDubaiSouth AfricaEuropeSeasonal PackagesAdventureFamilyNatureHoneymoonWildlifeFriendsWater ActivitiesReligiousManali Tour PackagesExploreTravel TriangleTour PackagesIndiaHimachalManaliManali Holiday Packages: rated 4.1/5 (based on 2556 reviews) | Packages starting from â\x82¹3,500/-Manali Holiday PackagesEmbark on a journey of tranquility or adventure by planning a Manali Trip with our Manali Tour Packages. If you are in want of peace or aiming for some adventure, then book a Manali tour package from TravelTriangle, offering both economical and budget-friendly options. With some of the most beautiful views to entrance you, great resorts and hotels, amazing dishes be it local or global, and plenty of things t'

In [3]:
#product title
packages = soup.find_all('span',attrs={'class':'fw9 m0 f16 pfc3'})
for p in packages:
    print(p.text)

Exclusive Deal of TIH Grand Him Queen with Breakfast
Exclusive Deal of Snow Valley Resorts Shimla with Breakfast
Exclusive Deal of Sandhya Resort & Spa Manali with Breakfast and Dinner
Shimla: The Gem In Himachalâs Crown
Exhilarating Manali Tour Package From Chennai
Popular Manali Honeymoon Packages For A Romantic Escape Amid The Hills
Memorable Vacation In Shimla
Manali Family Deal Tour Package
Magical Manali Honeymoon Package For A Dreamy Getaway
Splendid Himachal Honeymoon Package
Best Selling Holiday To Manali For A Refreshing Getaway
Luxurious Honeymoon Trip To Manali
Himachal Holiday Package For 2 Nights 3 Days
3 Nights 4 Days Paradisiacal Himachal Family Package For A Peaceful Trip
Shimla Honeymoon Package From Bangalore
2 Nights 3 Days Mashobra Tour Package
Kasauli Tour Packages for 1 Night 2 Days
Most-Exclusive North India From Chennai
Best Selling Shimla Honeymoon Tour Packages For A Wonderful Vacation
North India Tour Package From Kolkata

In [4]:
durations = soup.find_all('span',attrs={'class':'iblock sfc6'})
for d in durations:
    print(d.text)

2 Days & 1 Nights
3 Days & 2 Nights
4 Days & 3 Nights
3 Days & 2 Nights
4 Days & 3 Nights
5 Days & 4 Nights
3 Days & 2 Nights
6 Days & 5 Nights
3 Days & 2 Nights
4 Days & 3 Nights
4 Days & 3 Nights
4 Days & 3 Nights
3 Days & 2 Nights
4 Days & 3 Nights
4 Days & 3 Nights
3 Days & 2 Nights
2 Days & 1 Nights
3 Days & 2 Nights
3 Days & 2 Nights
3 Days & 2 Nights

In [5]:
original_prices = soup.find_all('span',attrs={'class':'f12 pfc3 tdl ml8 at_oldprice fw4'})
for o in original_prices:
    print(o.text)

â¹ 1,998/-
â¹ 4,375/-
â¹ 7,692/-
â¹ 5,435/-
â¹ 5,801/-
â¹ 6,667/-
â¹ 7,128/-
â¹ 9,166/-
â¹ 9,808/-
â¹ 9,091/-
â¹ 8,791/-
â¹ 9,011/-
â¹ 9,043/-
â¹ 9,659/-
â¹ 9,782/-
â¹ 9,677/-
â¹ 9,890/-
â¹ 9,574/-
â¹ 10,543/-
â¹ 9,574/-

In [6]:
discount_percentages = soup.find_all('span',attrs={'class':'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
for d in discount_percentages:
    print(d.text)

50% Off
20% Off
35% Off
8% Off
9% Off
10% Off
6% Off
18% Off
24% Off
12% Off
9% Off
9% Off
6% Off
12% Off
8% Off
7% Off
9% Off
6% Off
15% Off
6% Off

In [7]:
discount_percentages = soup.find_all('span',attrs={'class':'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
for d in discount_percentages:
    print(d.text)

50% Off
20% Off
35% Off
8% Off
9% Off
10% Off
6% Off
18% Off
24% Off
12% Off
9% Off
9% Off
6% Off
12% Off
8% Off
7% Off
9% Off
6% Off
15% Off
6% Off

In [8]:
cities = soup.find_all('div',attrs={'class':'clearfix absolute t60'})
for c in cities:
    print(c.text)

Cities: Mcleodganj (2D)
Cities: Manali (3D)
Cities: Manali (4D)
Cities: Shimla (3D)
Cities: Manali (4D)
Cities: Manali (5D)
Cities: Shimla (3D)
Cities: Manali (6D)
Cities: Manali (3D)
Cities: Manali (4D)
Cities: Manali (4D)
Cities: Manali (4D)
Cities: Shimla (3D)
Cities: Manali (4D)
Cities: Shimla (4D)
Cities: Shimla (3D)
Cities: Kasauli (2D)
Cities: Shimla (2D)Chandigarh (1D)
Cities: Shimla (3D)
Cities: Dalhousie (3D)

In [9]:
hotel_ratings = soup.find_all('li',attrs={'class':'icon-box relative'})
for h in hotel_ratings:
    print(h.text)

Upto 3 Stars
Meals
Sightseeing
Upto 4 Stars
Meals
Sightseeing
Upto 4 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 4 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing

In [10]:
activities = soup.find_all('ul',attrs={'class':'package-tags at_package_tags'})
for a in activities:
    print(a.text)

len(activities)

DealsSuperior Room With BreakfastOffer valid till October 31, 2025Weekend Tour from Delhi
DealsA Standard Room With Breakfast In A 4-Star HotelOffer valid till October 31, 2025
DealsSanitized Deluxe Room Inclusive Of Breakfast & LunchOffer valid till October 31, 2025
Picturesque sightsNatureHill stationReligiousAdventureskiingBudget
Naggar CastleNatureHadimba Devi TempleHill stationMall RoadWater ActivitiesReligiousSightseeingAdventureBudget
AdventureRoad TripNatureRohtang PassHill stationSnow ActivitiesRomanticSightseeingReligiousBudget
Hill stationHotel - StandardDeluxe Room
DealsWelcome drink, Solang Valley trip and SightseeingOffer valid till October 31, 2025AdventureNatureHill stationManali Tour DealsTrekking
HillsAdventureRohtang PassHill stationNatureNature walksRomanticSightseeingBudget
TemplesReligiousHot SpringsWildlifeHimalayasAdventureRoad TripRomanticSightseeingBudget
Rohtang PassWater ActivitiesSolang ValleyAdventureHadimba Devi TempleNatureHill stationReligiousSightseeingParaglidingBudget
AdventureNatureHill stationSightseeingBudget
Water SportsNatureMountains AdventureChurchesTrekkingHikingParaglidingWaterfallgroupBudget
Hill stationNatureFamilyRoad journeyVisit to Temples and Grand PalacesHot SpringsAdventureSightseeingBudget
Mall RoadNatureSnow View PointHill stationKufriRomanticBudget
Scenic ViewsHill stationNature
SightseeingNatureAdventureHill stationHistoricalReligiousBudget
AdventureNatureHill stationBudget
AdventureHill StationNatureScenic LandscapesSightseeingRomanticBudget
AdventureNatureHill stationBudget

20

In [11]:
import numpy as np
package_data= []
duration_data = []
original_price_data = []
discount_percentage_data = []
city_data = []
hotel_rating_data = []
activity_data = []

for i in range(1,95):
    # Step 1: Identify the list
    url = f'https://traveltriangle.com/tour-packages/manali/page/{i}?destination_type=manali'
   # Step 2: Extract the HTML code
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }
    response = requests.get(url, headers = headers)

    if response.status_code == 403:
        print("There's a 403 Error!")
        break
    html_code = response.text

    # Step 3 : Parse the HTML code to BeautifulSoup object
    soup = BeautifulSoup(html_code)
    containers = soup.find_all('div', attrs = {'class': 'col-12 p8 pt0'})
    for c in containers:
        # for each container scrape all data
        # Product title
        packages= c.find('span', attrs = {'class': 'fw9 m0 f16 pfc3'})
        if packages is None:
            package_data.append(np.nan)
        else:
            package_data.append(packages.text)
    # Product price
        durations = c.find('span', attrs = {'class': 'iblock sfc6'})
        if durations is None:
           duration_data.append(np.nan)
        else:
           duration_data.append(durations.text)

    # Customer rating and reviews
        original_prices = c.find('span', attrs = {'class': 'f12 pfc3 tdl ml8 at_oldprice fw4'})
        if original_prices is None:
            original_price_data.append(np.nan)
        else:
            original_price_data.append(original_prices.text)

    # Ratings
        discount_percentages = c.find('span', attrs = {'class': 'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
        if discount_percentages is None:
           discount_percentage_data.append(np.nan)
        else:
            discount_percentage_data.append(discount_percentages.text)



    # cities
        cities = c.find('div', attrs = {'class': 'clearfix absolute t60'})
        if cities is None:
           city_data.append(np.nan)
        else:
           city_data.append(cities.text)


    ## ratings
        hotel_ratings = c.find("label", attrs = {"class" : "pr0 pt0 pl20"})
        if hotel_ratings is None:
           hotel_rating_data.append(np.nan)
        else:
           hotel_rating_data.append(hotel_ratings.text)

    ## activity
        activities = c.find('ul', attrs = {'class': 'package-tags at_package_tags'})
        if activities is None:
           activity_data.append(np.nan)
        else:
           activity_data.append(activities.text)

In [70]:
df1 = pd.DataFrame({'Package':package_data,
                   'Package Duration':duration_data,
                   'Package Original Price':original_price_data,
                   'Package Discount %':discount_percentage_data,
                   'City':city_data,
                   'Hotel Rating':hotel_rating_data,
                   'Activity':activity_data})

df1.head()

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity
0,Exclusive Deal of TIH Grand Him Queen with Bre...,2 Days & 1 Nights,"â¹ 1,998/-",50% Off,Cities: Mcleodganj (2D),3 Star,DealsSuperior Room With BreakfastOffer valid t...
1,Exclusive Deal of Snow Valley Resorts Shimla w...,3 Days & 2 Nights,"â¹ 4,375/-",20% Off,Cities: Manali (3D),4 Star,DealsA Standard Room With Breakfast In A 4-Sta...
2,Exclusive Deal of Sandhya Resort & Spa Manali ...,4 Days & 3 Nights,"â¹ 7,692/-",35% Off,Cities: Manali (4D),4 Star,DealsSanitized Deluxe Room Inclusive Of Breakf...
3,Shimla: The Gem In Himachalâs Crown,3 Days & 2 Nights,"â¹ 5,435/-",8% Off,Cities: Shimla (3D),3 Star,Picturesque sightsNatureHill stationReligiousA...
4,Exhilarating Manali Tour Package From Chennai,4 Days & 3 Nights,"â¹ 5,801/-",9% Off,Cities: Manali (4D),4 Star,Naggar CastleNatureHadimba Devi TempleHill sta...

#### Data Cleaning

In [71]:
df=df1

In [72]:
df.columns

Index(['Package', 'Package Duration', 'Package Original Price',
       'Package Discount %', 'City', 'Hotel Rating', 'Activity'],
      dtype='object')

In [73]:
df.shape

(532, 7)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Package                 532 non-null    object
 1   Package Original Price  532 non-null    object
 2   Package Discount %      532 non-null    object
 3   City                    532 non-null    object
 4   Hotel Rating            532 non-null    object
 5   Activity                532 non-null    object
 6   Days                    532 non-null    object
 7   Nights                  532 non-null    object
dtypes: object(8)
memory usage: 33.4+ KB

In [74]:
df.isna().sum()

Package                   0
Package Duration          0
Package Original Price    0
Package Discount %        0
City                      0
Hotel Rating              0
Activity                  0
dtype: int64

In [75]:
df.head()

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity
0,Exclusive Deal of TIH Grand Him Queen with Bre...,2 Days & 1 Nights,"â¹ 1,998/-",50% Off,Cities: Mcleodganj (2D),3 Star,DealsSuperior Room With BreakfastOffer valid t...
1,Exclusive Deal of Snow Valley Resorts Shimla w...,3 Days & 2 Nights,"â¹ 4,375/-",20% Off,Cities: Manali (3D),4 Star,DealsA Standard Room With Breakfast In A 4-Sta...
2,Exclusive Deal of Sandhya Resort & Spa Manali ...,4 Days & 3 Nights,"â¹ 7,692/-",35% Off,Cities: Manali (4D),4 Star,DealsSanitized Deluxe Room Inclusive Of Breakf...
3,Shimla: The Gem In Himachalâs Crown,3 Days & 2 Nights,"â¹ 5,435/-",8% Off,Cities: Shimla (3D),3 Star,Picturesque sightsNatureHill stationReligiousA...
4,Exhilarating Manali Tour Package From Chennai,4 Days & 3 Nights,"â¹ 5,801/-",9% Off,Cities: Manali (4D),4 Star,Naggar CastleNatureHadimba Devi TempleHill sta...

In [76]:
df['City'] = (df['City'].astype(str).str.replace('Cities:', '', regex=False).str.strip())
df['City'] = (df['City'].astype(str).str.replace(r'\(\d+D\)', '', regex=True).str.strip())

In [77]:
df['Package Original Price'] = (
    df['Package Original Price']
    .astype(str)                           
    .str.replace('â¹', '', regex=False)
    .str.replace('₹', '', regex=False)
    .str.replace('/-', '', regex=False)
    .str.replace(',', '', regex=False)
    .str.strip()
)

In [78]:
df.columns

Index(['Package', 'Package Duration', 'Package Original Price',
       'Package Discount %', 'City', 'Hotel Rating', 'Activity'],
      dtype='object')

In [79]:
df['Package Discount %'] = (df['Package Discount %'].astype(str).str.replace('Off', '', regex=False))

In [80]:
df.columns

Index(['Package', 'Package Duration', 'Package Original Price',
       'Package Discount %', 'City', 'Hotel Rating', 'Activity'],
      dtype='object')

In [81]:
df['Hotel Rating'] = (df['Hotel Rating'].astype(str).str.replace('Star', '', regex=False))

In [82]:
df.columns

Index(['Package', 'Package Duration', 'Package Original Price',
       'Package Discount %', 'City', 'Hotel Rating', 'Activity'],
      dtype='object')

In [83]:
df['Package Discount %'] = (df['Package Discount %'].astype(str).str.replace('%', '', regex=False))

In [84]:
df[['Days', 'Nights']] = df['Package Duration'].str.extract(r'(\d+)\s*Days\s*&?\s*(\d+)\s*Nights')
df.head()

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity,Days,Nights
0,Exclusive Deal of TIH Grand Him Queen with Bre...,2 Days & 1 Nights,1998,50,Mcleodganj,3,DealsSuperior Room With BreakfastOffer valid t...,2,1
1,Exclusive Deal of Snow Valley Resorts Shimla w...,3 Days & 2 Nights,4375,20,Manali,4,DealsA Standard Room With Breakfast In A 4-Sta...,3,2
2,Exclusive Deal of Sandhya Resort & Spa Manali ...,4 Days & 3 Nights,7692,35,Manali,4,DealsSanitized Deluxe Room Inclusive Of Breakf...,4,3
3,Shimla: The Gem In Himachalâs Crown,3 Days & 2 Nights,5435,8,Shimla,3,Picturesque sightsNatureHill stationReligiousA...,3,2
4,Exhilarating Manali Tour Package From Chennai,4 Days & 3 Nights,5801,9,Manali,4,Naggar CastleNatureHadimba Devi TempleHill sta...,4,3

In [85]:
df.drop(columns=["Package Duration"],inplace=True)

In [86]:
df.head()

,Package,Package Original Price,Package Discount %,City,Hotel Rating,Activity,Days,Nights
0,Exclusive Deal of TIH Grand Him Queen with Bre...,1998,50,Mcleodganj,3,DealsSuperior Room With BreakfastOffer valid t...,2,1
1,Exclusive Deal of Snow Valley Resorts Shimla w...,4375,20,Manali,4,DealsA Standard Room With Breakfast In A 4-Sta...,3,2
2,Exclusive Deal of Sandhya Resort & Spa Manali ...,7692,35,Manali,4,DealsSanitized Deluxe Room Inclusive Of Breakf...,4,3
3,Shimla: The Gem In Himachalâs Crown,5435,8,Shimla,3,Picturesque sightsNatureHill stationReligiousA...,3,2
4,Exhilarating Manali Tour Package From Chennai,5801,9,Manali,4,Naggar CastleNatureHadimba Devi TempleHill sta...,4,3

In [90]:
df.to_csv('clean travel data.csv')

In [91]:
df

,Package,Package Original Price,Package Discount %,City,Hotel Rating,Activity,Days,Nights
0,Exclusive Deal of TIH Grand Him Queen with Bre...,1998,50,Mcleodganj,3,DealsSuperior Room With BreakfastOffer valid t...,2,1
1,Exclusive Deal of Snow Valley Resorts Shimla w...,4375,20,Manali,4,DealsA Standard Room With Breakfast In A 4-Sta...,3,2
2,Exclusive Deal of Sandhya Resort & Spa Manali ...,7692,35,Manali,4,DealsSanitized Deluxe Room Inclusive Of Breakf...,4,3
3,Shimla: The Gem In Himachalâs Crown,5435,8,Shimla,3,Picturesque sightsNatureHill stationReligiousA...,3,2
4,Exhilarating Manali Tour Package From Chennai,5801,9,Manali,4,Naggar CastleNatureHadimba Devi TempleHill sta...,4,3
...,...,...,...,...,...,...,...,...
527,Staycation In Dharamshala And Dalhousie,86957,8,Dharamshala Dalhousie,4,SightseeingLakesMountain View,14,13
528,Himachal Tour Package For 7 Nights 8 Days,96527,9,Shimla Manali Dharamshala Dalhousie himachal,4,Adventure ActivitiesNatureReligious TourAdvent...,8,7
529,Amazing Himachal Tour Package For 8 Nights 9 Days,101739,8,Shimla Manali Dharamshala Dalhousie,4,Hadimba TempleHill stationRohtang PassNatureHi...,9,8
530,Pleasurable Himachal Family Package,16666,10,Manali Shimla,2,Hadimba Devi TempleWildlifeSkiingSolang Valley...,5,4
531,Joyous Himachal Family Tour Package,20689,13,Dalhousie,3,NatureAdventureWildlife adventuresFamilyScenic...,4,3